body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

.button-toggle {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 20px;
  right: 20px;

  &:hover {
    background-color: #0056b3;
  }

  @media (max-width: 768px) {
    position: static;
    margin-top: 10px;
  }
}

body.dark-mode .button-toggle {
  background-color: #ccc;
  color: #333;
}

.calendar-content {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  flex-grow: 1;

  @media (max-width: 768px) {
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
  }
}

.calendar-grid .day-names {
  display: contents;
}

.calendar-day, .day-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 5px;
  }
}

.day-name {
  cursor: default;
  font-weight: bold;
  background: transparent;
  box-shadow: none;

  @media (max-width: 768px) {
    display: none; /* Oculta los nombres de los días en pantallas pequeñas */
  }
}

.calendar-day span {
  font-weight: bold;
  margin-bottom: 5px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.reminder-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  margin-bottom: 5px;
}

.reminder {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

body.dark-mode .calendar-day {
  background: #1e1e1e;
  border: 1px solid #333;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

body.dark-mode .calendar-day span {
  color: #ffffff;
}

body.dark-mode .day-name {
  background: #333;
  color: #ffffff;
}

body.dark-mode .calendar-day .reminder {
  background-color: #424242;
  color: #e0f7fa;
}

.add-reminder-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0;
  border-radius: 50%; /* Asegura que el botón sea circular */
  cursor: pointer;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-top: 10px;

  &:hover {
    background-color: #0056b3;
  }

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}

.reminder-list {
  width: 25%;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 20px;
    padding-right: 20px; /* Añadir espacio a la derecha */
  }

  h2 {
    font-size: 18px;
    margin: 0 0 10px 0;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .reminder-card {
    background: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    p {
      margin: 0;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    .edit-button, .delete-button {
      margin: 5px;
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.edit-button {
        background-color: #007bff;
        color: #fff;

        &:hover {
          background-color: #0056b3;
        }
      }

      &.delete-button {
        background-color: #dc3545;
        color: #fff;

        &:hover {
          background-color: #c82333;
        }
      }

      @media (max-width: 768px) {
        padding: 5px;
      }
    }
  }
}

body.dark-mode .reminder-list {
  background: #1e1e1e;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

body.dark-mode .reminder-card {
  background: #424242;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

body.dark-mode .reminder-card .edit-button, 
body.dark-mode .reminder-card .delete-button {
  color: #fff;
}
